* {
  padding: 0;
  margin: 0;
   overflow: hidden;
}
/*Background Image*/
.bg-image {
        background-image:url("eggs.jpeg") ;
    background-position:left;
    background-repeat: no-repeat;
    background-size:1200px;
    position: relative;
    height: fit-content;
    }
   

/* Box on left side */
.btn{
    display: flex;
    justify-content: center;

}
.tablehead {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  height: 40px;
}


.content{
    border: 1px solid white;
    height: 550px;
    overflow-y: auto;
}

article{

    border: 1px solid black;
    width: 700px;
   background-color: rgb(53, 51, 49);
   min-height: 100vh;
  float: right;
  color: white;
}

a{
    margin-top: 10px;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(5, 5, 5);
    border: 3px solid white;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-left: 25px;
    margin-right: 25px;
    padding:20px;
    color: white;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.563);
    transition: all .35s;
    color: black;
  }
 
  a:hover:after{
    width: 100%;
  }
  .remove{
      border-radius: 10px;
      padding: 5px;
      background-color: white;
      color: orange;
      border: 1px solid white;
  }
  .remove:hover{
      color: black;
      background-color: orange;
      border: 1px solid black;
  }
  .choose{
      display: flex;
      font-size: x-large;
      margin-top: 25px;
    justify-content: space-around;
    
     
  }
  .box{
      text-align: center;
      width: 125px;
  }

  .address{
     margin-top: 15px;
     padding: 5px;
   display: none;

  }
  input{
      padding: 5px;
      border: 1px solid black;
      border-radius: 5px;
  }
#home{
    font-size: x-large;
}
.fit{
    border: 2px solid white;
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -120px;
    right: -120px;
    bottom: -120px;
    left: -120px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -120px;
    right: -120px;
    bottom: -120px;
    left: -120px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  text-align: center;
  width: 105px;

  background-color: white;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 2px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
 
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}
.f {
 position: fixed;
  top: 5px;
  right: 10px;
 
  color: #f0544f;
}
.f a {
  color: #000;
}



#items{
  color: white;
  font-size: 50px;
 
}
 


