* {
  padding: 0;
  margin: 0;
   overflow: hidden;
}
/*Background Image*/
.bg-image {
        background-image:url("eggs.jpeg") ;
    background-position:left;
    background-repeat: no-repeat;
    background-size:1200px;
    position: relative;
    height: fit-content;
    }
   

/* Box on left side */
.btn{
    display: flex;
    justify-content: center;

}
.tablehead {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  height: 40px;
}


.content{
 
    height: 550px;
    overflow-y: auto;
}

article{
 
    width: 700px;
   background-color: black;
   min-height: 100vh;
  float: right;
  color: white;
}

a{

    margin-top: 10px;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(5, 5, 5);
   /* border: 3px solid white; */
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-left: 25px;
    margin-right: 25px;
    padding:20px;
    color: white;

  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.563);
    transition: all .35s;
    color: black;
  }
 
  a:hover:after{
    width: 100%;
  }
 
 
  .choose{
      display: flex;
      font-size: x-large;
      margin-top: 25px;
    justify-content: space-around;
    
     
  }
  .box{
      text-align: center;
      width: 125px;
  }

  .address{
     margin-top: 15px;
     padding: 5px;
   display: none;

  }
  input{
      padding: 5px;
      border: 1px solid black;
      border-radius: 5px;
  }
#home{
    font-size: x-large;
}
.fit{
    border: 2px solid white;
}


.hvr-ripple-out {
  text-align: center;
  width: 105px;
  background-color: white;

  position: relative;
}


.f {
 position: fixed;
  top: 5px;
  right: 10px;
 
  color: #f0544f;
}
.f a {
  color: #000;
}



#items{
  color: white;
  font-size: 50px;
 
}
 

