* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
  font-size: xx-large;
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(206, 123, 16);
}
#signupBox {
  margin: auto;
  width: 30%;
  height: 80vh;
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  margin-top: 2%;
  font-size: x-large;
  border-radius: 30px;
}
.signupField {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.signupField input {
  border-radius: 30px;
  width: 80%;
  height: 6vh;
  margin: auto;
  text-align: center;
  font-size: x-large;
  border-style: none;
}
a {
  color: crimson;
}
.signupBut {
  text-decoration: none;
  border: solid 1px blue;
  border-radius: 30px;
  background-color: slategray;
  color: black;
  padding: 10px;
  width: 30%;
  margin: auto;
  margin-top: 2%;
}
label {
  margin-bottom: 3%;
}
p {
  margin-top: 2%;
}
