* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
  font-size: xx-large;
}
body {
  width: 100%;
  height: 100%;
  background-color: tan;
}
#loginBox {
  margin: auto;
  width: 30%;
  height: 70vh;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  margin-top: 2%;
  background-color: royalblue;
  font-size: x-large;
  border-radius: 30px;
}
.loginField {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.loginField input {
  border-radius: 30px;
  width: 80%;
  height: 6vh;
  margin: auto;
  text-align: center;
  font-size: x-large;
  border-style: none;
}
.loginBut {
  text-decoration: none;
  border: solid 1px blue;
  border-radius: 30px;
  background-color: slategray;
  color: black;
  padding: 10px;
  width: 30%;
  margin: auto;
  margin-top: 2%;
}
p {
  margin-bottom: 20%;
}
