* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color:white;
  background-color: rgb(53, 51, 49)
}
html, body{
  background-image: url("download.jpg")
}
#main {
  display: flex;
  width: 90%;
  background-color: rgba(0,0,0,0);
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 75px;
}
#menu {
  width: 55%;

  margin-top: 10%;
}
#order {
  min-width: 25%;
  width: fit-content;
  margin-bottom: 10%;
  margin-top: 10%;
}
h1 {
  text-align: center;
  padding-top: 100px;
  background-color: rgba(0,0,0,0);
  color:black;
  font-size:75px;
}
#items td {
  padding-left: 35px;
  padding-right: 35px;
  padding: 25px;
  height:100px
}
#items tr{
  height:100px
}
#food td {
  padding: 25px;
  padding-left: 75px;
  padding-right: 75px;
}
#food tr {
  min-width:568px;
}
img {
  width: 100px;
  height: 100px;
}
#items{
  height: fit-content
}
#items td{
  width:fit-content;
}
#checkout{
  height:fit-content;
  margin-left: 242px;
  margin-right: 242px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.title{
  text-align:center;
  margin-top:50px;
  margin-bottom:25px;
  font-size: xx-large;
}
table, td
{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
table
{
  margin:10px
}
#log-out
{
  margin-left:30%;
  padding:10px;
  font-size: xx-large;
  margin-bottom: 75px;
}