body{
    background-image: linear-gradient(180deg, rgb(66, 135, 245), white);
}
hr{
    background-color: black;
    width:30%;
    margin-bottom: 30px
}

img{
    max-width: 100px;
    max-height: auto;
}

h1{
    text-align: center;
}
dt{
    margin-bottom: 50px;
}

.menu-box{
    margin-left: 20%;
    margin-right: 20%;
}
.menu-items{
    background-color: rgb(153, 218, 207);
    border-style: solid;
}