* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: x-large;
}

body {
  background-image: linear-gradient(180deg, rgb(66, 135, 245), white);
}
hr {
  background-color: black;
  width: 30%;
  margin-bottom: 30px;
}

img {
  background-color: inherit;
  width: 19vh;
  height: 19vh;
  margin: auto;
  opacity:1;
}
img:hover {
  opacity: 0.25;
}

li:hover {
  background-image: url("img/cross.png");
  background-position: center center;
}
li:hover img {
  position: relative;
  /* z-index: -2; */
}
li:hover p {
  position: relative;
  z-index: -2;
}

h1 {
  text-align: center;
  width: 5vw;
  margin: auto;
  background-color: inherit;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  list-style: none;

  flex-basis: 25%;
}
li {
  display: flex;
  flex-direction: column;
  margin: 2vh;
  width: 21%;
  height: auto;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.addSys {
  height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border: 1px solid;
  padding: 5px;
  margin-top: 20px;
}
.logout {
  text-decoration: none;
  padding: 2vh;
  margin: 1vh;
  background-color: white;
  border-style: inset;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 0;
}
.addSys input {
  height: 10%;
  text-align: center;
}
.addSys button {
  width: 20%;
  height: auto;
  align-self: center;
  font-size: xx-large;
}
.fileUploader {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.fileUploader + label {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  background-color: rgb(153, 218, 207);
  display: inline-block;
  width: auto;
  padding: 5%;
  text-align: center;
  text-decoration: underline;
}
.fileUploader:focus + label,
.fileUploader + label:hover {
  color: white;
  background-color: red;
}
/* .removeSys {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  border: 1px solid;
  padding: 5px;
}
.removeSys input {
  height: 20%;
}
.removeSys button {
  height: 20%;
  width: 20%;
  margin: auto;
} */
.menu-box {
  margin-left: 20%;
  width: fit-content;
  height: fit-content;
  margin-right: 20%;
}
.menu-items {
  background-color: rgb(153, 218, 207);
  width: fit-content;
  height: fit-content;
  border-style: solid;
}
